<%= form_for(@pessoa) do |f| %>
  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% @pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="form-horizontal">
      <div class="control-group span4">
        <%= f.label :nome, class:"control-label" %>
        <div class="controls">
          <%= f.text_field :nome, class:"input-xlarge" %>
        </div>
      </div>

      <div class="control-group span4">
        <%= f.label :apelido, class:"control-label" %>
        <div class="controls">
          <%= f.text_field :apelido %>
        </div>
      </div>

      <div class="control-group span12">
        <%= f.label :endereco, class:"control-label" %>
        <div class="controls">
            <%= f.text_field :endereco, class:"input-xxlarge" %>
        </div>
      </div>

      <div class="control-group span4">
        <%= f.label :celular, class:"control-label" %>
        <div class="controls">
            <%= f.text_field :celular %>
        </div>
      </div>

      <div class="control-group span4">
        <%= f.label :telefone, class:"control-label" %>
        <div class="controls">
            <%= f.text_field :telefone %>
        </div>
      </div>

      <div class="control-group span5">
        <%= f.label :email, class:"control-label" %>
        <div class="controls">
            <%= f.text_field :email %>
        </div>
      </div>
    <button class="btn btn-success span2" type="submit">Salvar</button>
  </form>
<% end %>