<h1 class="text-center">Lista dos Status dos Pagamentos</h1>

<%= link_to 'Novo Status do Pagamento', new_statuspagamento_path %>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @statuspagamentoes.each do |statuspagamento| %>
  <tr>
    <td><%= statuspagamento.tipo %></td>
    <td><%= link_to 'Visualizar', statuspagamento, class:"btn btn-info" %></td>
    <td><%= link_to 'Editar', edit_statuspagamento_path(statuspagamento), class:"btn btn-warning" %></td>
    <td><%= link_to 'Apagar', statuspagamento, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />
