<h1 class="text-center" >Lista das Categorias dos Serviços</h1>

<%= link_to 'Nova Categoria', new_category_path, class:"btn" %>

<p></p>
<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>NOME</th>
    <th>DESCRIÇÃO</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @categories.each do |category| %>
  <tr>
    <td><%= category.nome %></td>
    <td><%= category.descricao %></td>
    <td><%= link_to 'Visualizar', category, class:"btn btn-info" %></td>
    <td><%= link_to 'Editar', edit_category_path(category), class:"btn btn-warning" %></td>
    <td><%= link_to 'Apagar', category, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
<% end %>
      </tbody>
</table>

<br />
