<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @category.nome %>
</h1>

<p class="text-center">
  <b>Descrição:</b>
  <%= @category.descricao %>
</p>

<p class="text-center">
<%= link_to 'Editar', edit_category_path(@category), class:"btn btn-warning" %> |
<%= link_to 'Voltar', categories_path, class:"btn btn-inverse" %>
</p>