<h1 class="text-center">Lista de Pessoas</h1>

<%=link_to 'Nova Pessoa', new_pessoa_path, class:"btn"%>

<table class="table table-strippeds">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Apelido</th>
    <th>Endereco</th>
    <th>Celular</th>
    <th>Telefone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <thead>


  <% @pessoas.each do |pessoa| %>
  <tr>
    <td><%= pessoa.nome %></td>
    <td><%= pessoa.apelido %></td>
    <td><%= pessoa.endereco %></td>
    <td><%= pessoa.celular %></td>
    <td><%= pessoa.telefone %></td>
    <td><%= pessoa.email %></td>
    <td><%=link_to 'Mostrar', pessoa, class: "btn btn-info" %></td>
    <td><%=link_to 'Editar', edit_pessoa_path(pessoa), class: "btn btn-warning" %></td>
    <td><%=link_to 'Deletar', pessoa, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />


