<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @pessoa.nome %>
</h1>

<p class="text-center">
  <%= @pessoa.apelido %>
</p>

<p>
  <b>Endereço:</b>
  <%= @pessoa.endereco %>
</p>

<p>
  <b>Celular:</b>
  <%= @pessoa.celular %>
</p>

<p>
  <b>Telefone:</b>
  <%= @pessoa.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @pessoa.email %>
</p>


<%= link_to 'Editar', edit_pessoa_path(@pessoa), class: "btn btn-warning" %> |
<%= link_to 'Voltar', pessoas_path, class: "btn btn-inverse" %>
