<%= form_for(@categorium) do |f| %>
  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>

      <ul>
      <% @categorium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="form-horizontal">

      <div class="control-group">
        <%= f.label :nome, class:"control-label" %>
        <div class="controls">
            <%= f.text_field :nome, class:"input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :descricao, class:"control-label" %>
        <div class="controls">
            <%= f.text_field :descricao, class:"input-xxlarge" %>
        </div>
      </div>

      <button class="btn btn-success" type="submit">Salvar</button>
    </form>
<% end %>
