<h1 class="text-center">Lista das Categorias</h1>

<%=link_to 'Nova Categoria', new_categorium_path, class:"btn"%>

<table class="table table-strippeds">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @categoria.each do |categorium| %>
  <tr>
    <td><%= categorium.nome %></td>
    <td><%= categorium.descricao %></td>
    <td><%= link_to 'Mostrar', categorium, class: "btn btn-info" %></td>
    <td><%= link_to 'Editar', edit_categorium_path(categorium), class: "btn btn-warning" %></td>
    <td><%= link_to 'Deletar', categorium, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />