<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @category.nome %>
</h1>

<p class="text-center">
  <%= @category.descricao %>
</p>


<%= link_to 'Editar', edit_category_path(@category), class: "btn btn-warning" %> |
<%= link_to 'Voltar', category_path, class: "btn btn-inverse" %>