<%= form_for(@realiza) do |f| %>
  <% if @realiza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realiza.errors.count, "error") %> prohibited this realiza from being saved:</h2>

      <ul>
      <% @realiza.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field span12">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field span6">
    <%= f.label :hora %><br />
    <%= f.time_select :hora %>
  </div>
  <div class="field span3">
    <%= f.label :satatus %><br />
    <%= f.text_field :satatus %>
  </div>
  <div class="field span4">
    <%= f.label :obs %><br />
    <%= f.text_area :obs,:rows=>"10" %>
  </div>
  <div class="field span5">
    <%= f.label :cliente_id %><br />
    <%= f.collection_select(:cliente_id,@pessoas,:id,:nome) %>
  </div>
  <div class="field span5">
    <%= f.label :usuario_id ,"Profissional" %><br />
    <%= f.collection_select(:usuario_id,@funcionarios,:id,:nome) %>

  </div>
  <div class="field span5">
    <%= f.label :servico_id %><br />
    <%= f.collection_select(:servico_id,@servicos,:id,:nome) %>
  </div>
    <div class="field span5">
      Forma Pagamento<br/>
      <select name="pagamento">
      <% Formapagamentoe.all.each do |p| %>
      <option value="<%= p.id %>"><%= p.tipo %> </option>
      <% end %>
    </select>
     </div>
  <div class="actions span9">
    <%= f.submit %>
  </div>
<% end %>
