<%= form_for(@realiza) do |f| %>
  <% if @realiza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realiza.errors.count, "error") %> prohibited this realiza from being saved:</h2>

      <ul>
      <% @realiza.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="form-horizontal">

      <div class="control-group">
        <label class="control-label">Nome:</label>
        <div class="controls">
          <%= f.collection_select(:cliente_id,@pessoas,:id,:nome) %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Serviço:</label>
        <div class="controls">
          <%= f.collection_select(:servico_id,@servicos,:id,:nome) %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Data:</label>
        <div class="controls">
          <%= f.date_select :data %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Hora:</label>
        <div class="controls">
          <%= f.time_select :hora %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Status:</label>
        <div class="controls">
          <%= f.text_field :satatus %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Forma de Pagamento:</label>
        <div class="controls">
          <select name="pagamento">
            <% Formapagamentoe.all.each do |p| %>
                <option value="<%= p.id %>"><%= p.tipo %> </option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Obs:</label>
        <div class="controls">
          <%= f.text_field :obs %>
        </div>
      </div>

      <button class="btn btn-success" type="submit">Salvar</button>

      </form>

<% end %>
