<h1>Agenda do Dia</h1>
<table class="table">
  <tr>
    <th>Hora</th>
    <th>Satatus</th>
    <th>Obs</th>
    <th>Cliente</th>
    <th>Usuario</th>
    <th>Servico</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @realizas.each do |realiza| %>
      <tr>
        <td><%= realiza.hora.strftime("%H:%M") %></td>
        <td><%= realiza.status %></td>
        <td><%= realiza.obs %></td>
        <td><a href="/cliente/servico/<%=realiza.cliente.id%>"><%= realiza.cliente.pessoa.nome %></a></td>
        <td><%= realiza.servico.nome %></td>
        <% if realiza.status=="0" %>
        <td><a href="/confirmar/<%=realiza.id%>">Confirmar</a></td>
        <td><a href="/cancelar/<%=realiza.id%>">Cancelar</a></td>
        <% end %>
        <td>
        <% if realiza.pagamento.hora %>
            Pago
        <% else%>
            <td><%= link_to 'Efetuar Pagamento', "/confirmar_pg/"+realiza.pagamento.id.to_s  %></td>

        <% end %>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Agendar', new_realiza_path %>
