<h1 class="text-center">Agenda do Dia</h1>

<%= link_to 'Agendar', new_realiza_path, class:"btn" %>

<p></p>
<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>Hora</th>
    <th>Cliente</th>
    <th>Serviço</th>
    <th>Status</th>
    <th>Obs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @realizas.each do |realiza| %>
      <tr>
        <td><%= realiza.hora.strftime("%H:%M") %></td>
        <td><a href="/cliente/servico/<%=realiza.cliente.id%>"><%= realiza.cliente.pessoa.nome %></a></td>
        <td><%= realiza.servico.nome %></td>
        <td><%= realiza.status %></td>
        <td><%= realiza.obs %></td>
        <% if realiza.status=="0" %>
            <td><a href="/confirmar/<%=realiza.id%>">Confirmar</a></td>
            <td><a href="/cancelar/<%=realiza.id%>">Cancelar</a></td>
        <% end %>
        <td>
          <% if realiza.pagamento.hora %>
              Pago
          <% else%>
            <td><%= link_to 'Efetuar Pagamento', "/confirmar_pg/"+realiza.pagamento.id.to_s  %></td>

        <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />


