<h1>Atendimentos de  <%= @reallizou[0].usuario.pessoa.nome %></h1>
<form  action="/funcionario_atendeu" method="post">
   Pesquisar por Funcionario: <%= collection_select("funcionario",:usuario_id,@funcionarios,:id,:nome) %>
 <br>
  Data Inicial:
  <%= date_select"data1","" %>
  <br>
  Data Final:
  <%= date_select"data2","" %>
    <input type="submit" class="btn" value="Pesquisar">
</form>
<table class="table table-hover table-condensed">
  <%@valor=0%>
  <thead>
  <tr>
    <th>DATA</th>
    <th>HORA</th>
    <th>CLIENTE</th>
    <th>FUNCIONÁRIO</th>
    <th>OBS</th>
  </tr>
  </thead>

  <tbody>
  <% @reallizou.each do |realiza| %>
      <tr>
        <td><%= realiza.data.strftime("%d/%m/%Y")%></td>
        <td><%= realiza.hora.strftime("%H:%M") %></td>
        <td><a href="/cliente/servico/<%=realiza.cliente.id%>"><%= realiza.cliente.pessoa.nome %></a></td>
        <td><%= realiza.usuario.pessoa.nome %></td>
        <td><%= realiza.servico.nome %></td>
        <td><%= realiza.obs %></td>
        <%@valor=@valor+realiza.servico.preco%>
      </tr>
  <% end %>
  </tbody>
</table>
<hr>
<h4>Valor Total: R$<%=@valor%></h4>