<h1>Listing realizas</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Satatus</th>
    <th>Obs</th>
    <th>Cliente</th>
    <th>Usuario</th>
    <th>Servico</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @realizas.each do |realiza| %>
  <tr>
    <td><%= realiza.data %></td>
    <td><%= realiza.hora %></td>
    <td><%= realiza.satatus %></td>
    <td><%= realiza.obs %></td>
    <td><%= realiza.cliente.pessoa.nome %></td>
    <td><%= realiza.usuario.nome %></td>
    <td><%= realiza.servico.nome %></td>
    <td><%= link_to 'Show', realiza %></td>
    <td><%= link_to 'Edit', edit_realiza_path(realiza) %></td>
    <td><%= link_to 'Destroy', realiza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Realiza', new_realiza_path %>
