<h1 class="text-center">Serviços Realizados</h1>

<%= link_to 'Novo serviço', new_realiza_path, class:"btn" %>

<p></p><p></p>

<h4>Pesquisar por data</h4>
<form action="/servicos_data" method="post">
  Data Inicial:
  <%= date_select"data1","" %>
  <br>
  Data Final:
  <%= date_select"data2","" %>
  <input type="submit" class="btn" value="Pesquisar">
</form>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Cliente</th>
    <th>Servico</th>
    <th>Status</th>
    <th>Obs</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @realizas.each do |realiza| %>
      <tr>
        <td><%= realiza.data.strftime("%d/%m/%Y")%></td>
        <td><%= realiza.hora.strftime("%H:%M") %></td>
        <td><a href="/cliente/servico/<%=realiza.cliente.id%>"><%= realiza.cliente.pessoa.nome %></a></td>
        <td><%= realiza.servico.nome %></td>
        <td><%= realiza.status=="1" ? "Realizado" : "Não realizado" %></td>
        <td><%= realiza.obs %></td>
        <% if realiza.status==0%>
            <td><a href="/confirmar/<%=realiza.id%>">Confirmar</a></td>
            <td><a href="/cancelar/<%=realiza.id%>">Cancelar</a></td>
            <td><%= link_to 'Visualizar', realiza, class:"btn btn-info" %></td>
            <td><%= link_to 'Editar', edit_realiza_path(realiza), class:"btn btn-warning" %></td>
            <td><%= link_to 'Apagar', realiza, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>

<br />
