<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @realiza.data %>
</p>

<p>
  <b>Hora:</b>
  <%= @realiza.hora %>
</p>

<p>
  <b>Satatus:</b>
  <%= @realiza.satatus %>
</p>

<p>
  <b>Obs:</b>
  <%= @realiza.obs %>
</p>

<p>
  <b>Cliente:</b>
  <%= @realiza.cliente %>
</p>

<p>
  <b>Usuario:</b>
  <%= @realiza.usuario %>
</p>

<p>
  <b>Servico:</b>
  <%= @realiza.servico %>
</p>


<%= link_to 'Edit', edit_realiza_path(@realiza) %> |
<%= link_to 'Back', realizas_path %>
