<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:id] %>
        <%= f.text_field :pessoa_id, :value=>params[:id] %>
  <% else %>
  <div class="field">
    <%= f.label :pessoa_id, "Codigo de Pessoa" %><br />
    <%= f.text_field :pessoa_id %>
  </div>
 <%end%>
  <div class="field">
    <%= f.label :aniversario %><br />
    <%= f.date_select :aniversario %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
