<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span12">
  <% if params[:id] %>
        <%= f.hidden_field :pessoa_id, :value=>params[:id] %>
  <% else %>
 <%end%>
  <div class="span12">
    <%= f.label :aniversario %><br />
    <%= f.date_select :aniversario %>
  </div>
  <div class="span3">
    <%= f.label :sexo %><br />
    <%= f.select :sexo, ["Feminino","Masculino"] %>
  </div>
  <div class="span5">
    <%= f.label :obs %><br />
    <%= f.text_area :obs ,:rows=>10%>
  </div>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
