<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="form-horizontal">

  <div class="span12">
  <% if params[:id] %>
        <%= f.hidden_field :pessoa_id, :value=>params[:id] %>
  <% else %>
 <%end%>

  <div class="control-group">
    <label class="control-label">Data de Aniversário:</label>
    <div class="control">
        <%= f.date_select :aniversario %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Sexo:</label>
    <div class="controls">
        <%= f.select :sexo, ["Feminino","Masculino"] %>
      </div>
  </div>

    <div class="control-group">
      <label class="control-label">Obs:</label>
      <div class="controls">
        <%= f.text_field :obs, class:"input-xxlarge" %>
      </div>
    </div>

      <button class="btn btn-success" type="submit">Salvar</button>
      <br /><br />
    </form>
<% end %>
