<h1>Todos os clientes</h1>

<form action="/pesquisar_usuario" method="post">
    Pesquisar por nome: <input name="nome" type="text">
    <input type="submit" value="Pesquisar">
</form>

<table class="table">
  <tr>
    <th>References</th>
    <th>Aniversario</th>
    <th>Sexo</th>
    <th>Obs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><a href="/cliente/servico/<%=cliente.id%>"><%= cliente.pessoa.nome %></a></td>
    <td><%= cliente.aniversario %></td>
    <td><%= cliente.sexo %></td>
    <td><%= cliente.obs %></td>
    <td><%= link_to 'Visualizar', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Deletar', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Cliente', new_cliente_path %>
