<h1 class="text-center" >Lista dos Clientes</h1>

<%= link_to 'Novo Cliente', new_cliente_path, class:"btn" %>

<p></p>

    <div class="input-append">
      <form action="/pesquisar_usuario" method="post">
        <input name="nome" type="text" placeholder="Pesquisar por Nome...">
        <button class="btn" type="submit">Pesquisar</button>
      </form>
    </div>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Sexo</th>
    <th>Obs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @clientes.each do |cliente| %>
  <tr>
    <td><a href="/cliente/servico/<%=cliente.id%>"><%= cliente.pessoa.nome %></a></td>
    <td><%= cliente.pessoa.telefone %></td>
    <td><%= cliente.pessoa.celular %></td>
    <td><%= cliente.pessoa.email %></td>
    <td><%= cliente.sexo %></td>
    <td><%= cliente.obs %></td>
    <td><%= link_to 'Visualizar', cliente, class:"btn btn-info" %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente), class:"btn btn-warning" %></td>
    <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
