<h1>A(o) cliente <b><%= @cliente.pessoa.nome %></b> realizou os servocos abaixo:</h1>
  <%@valor =0%>
<table class="table">
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Satatus</th>
    <th>Obs</th>
    <th>Servico</th>
    <th>Preco</th>
  </tr>

<% @servicos.each do |realiza| %>
  <tr>
    <td><%= realiza.data %></td>
    <td><%= realiza.hora %></td>
    <td><%= realiza.status=="1" ? "Realizado" : "Não realizado" %></td>
    <td><%= realiza.obs %></td>
    <td><%= realiza.servico.nome %></td>
    <td><%= realiza.servico.preco %></td>
    <%@valor=@valor+realiza.servico.preco %>
  </tr>
<% end %>
</table>
<hr>
<p><b>Total em consumo: R$<%= @valor%></b></p>
<p><b>Porcentagem funcionário: R$<%= @valor*0.20%></b></p>
   <hr>
<h1>Serviços cancelados</h1>
<table class="table">
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Obs</th>
    <th>Servico</th>
    <th>Preco</th>
  </tr>

  <% @cancelados.each do |realiza| %>
      <tr>
        <td><%= realiza.data %></td>
        <td><%= realiza.hora %></td>
        <td><%= realiza.obs %></td>
        <td><%= realiza.servico.nome %></td>
        <td><%= realiza.servico.preco %></td>
      </tr>
  <% end %>
</table>

<h1>Pagamentos pendentes</h1>
<% @debito=0 %>
<table class="table">
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Valor</th>
    <th>Formapagamentoe</th>
    <th>Cliente</th>
    <th>Servico</th>
    <th>Criado em</th>
    <th></th>
    <th></th>
  </tr>

  <% @pagamentosOk.each do |pagamento| %>
      <tr>
        <td><%= pagamento.data ? pagamento.data.strftime("%d/%m/%Y") :"" %></td>
        <td><%= pagamento.hora ? pagamento.hora.strftime("%H:%M"):"" %></td>
        <td><%= pagamento.valor %></td>
        <td><%= pagamento.formapagamentoe.tipo%></td>
        <td><%= pagamento.cliente.pessoa.nome %></td>
        <td><%= pagamento.servico.nome %></td>
        <td><%= pagamento.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Efetua Pagamento', "/confirmar_pg/"+pagamento.id.to_s  %></td>
        <td><%= link_to 'Destroy', pagamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% @debito=@debito+pagamento.valor %>
      </tr>
  <% end %>
</table>
<hr>
<h4>Total em debito: <%= @debito %></h4>

<script type="text/javascript" charset="utf-8">
    $(function () {
        new Highcharts.Chart({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,renderTo: 'orders_chart'
            },
            title: {
                text: 'Porcentagem sobre serviços'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['Salão',  <%= @valor%>],
                    {
                        name: 'Funcionario',
                        y: <%= @valor*0.20%>,
                        sliced: true,
                        selected: true
                    }
                ]
            }]
        });
    });
</script>

<div id="orders_chart" style="width:auto; height:auto;"></div>