<h2 class="text-center"><%= @cliente.pessoa.nome %></h2>
  <%@valor =0%>

<h3 >Serviços Realizados</h3>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>DATA</th>
    <th>HORA</th>
    <th>SERVIÇO</th>
    <th>PREÇO</th>
    <th>STATUS</th>
    <th>OBS</th>
  </tr>
  </thead>

  <tbody>
<% @servicos.each do |realiza| %>
  <tr>
    <td><%= realiza.data.strftime("%d/%m/%Y") %></td>
    <td><%= realiza.hora.strftime("%H:%M") %></td>
    <td><%= realiza.servico.nome %></td>
    <td><%= realiza.servico.preco %></td>
    <td><%= realiza.status=="1" ? "Realizado" : "Não realizado" %></td>
    <td><%= realiza.obs %></td>
    <%@valor=@valor+realiza.servico.preco %>
  </tr>
<% end %>
</tbody>
</table>

<hr>
<p><b>Total em consumo: R$ <%= @valor%></b></p>
<p><b>Porcentagem funcionário: R$ <%= @valor*0.20%></b></p>
   <hr>

<h3 >Serviços Cancelados</h3>
<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>DATA</th>
    <th>HORA</th>
    <th>SERVIÇO</th>
    <th>PREÇO</th>
    <th>OBS</th>
  </tr>
  </thead>

  <tbody>
  <% @cancelados.each do |realiza| %>
      <tr>
        <td><%= realiza.data.strftime("%d/%m/%Y") %></td>
        <td><%= realiza.hora.strftime("%H:%M") %></td>
        <td><%= realiza.servico.nome %></td>
        <td><%= realiza.servico.preco %></td>
        <td><%= realiza.obs %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3>Pagamentos Pendentes</h3>
<% @debito=0 %>
<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>DATA</th>
    <th>HORA</th>
    <th>CLIENTE</th>
    <th>SERVIÇO</th>
    <th>VALOR</th>
    <th>FORMA DE PAGAMENTO</th>
    <th>CRIADO EM</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @pagamentosOk.each do |pagamento| %>
      <tr>
        <td><%= pagamento.data ? pagamento.data.strftime("%d/%m/%Y") :"" %></td>
        <td><%= pagamento.hora ? pagamento.hora.strftime("%H:%M"):"" %></td>
        <td><%= pagamento.cliente.pessoa.nome %></td>
        <td><%= pagamento.servico.nome %></td>
        <td><%= pagamento.valor %></td>
        <td><%= pagamento.formapagamentoe.tipo%></td>
        <td><%= pagamento.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Efetuar Pagamento', "/confirmar_pg/"+pagamento.id.to_s, class:"btn btn-success"  %></td>
        <td><%= link_to 'Apagar', pagamento, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <% @debito=@debito+pagamento.valor %>
      </tr>
  <% end %>
  </tbody>
</table>
<hr>
<p><b>Total em debito: R$ <%= @debito %></b></p>

<script type="text/javascript" charset="utf-8">
    $(function () {
        new Highcharts.Chart({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,renderTo: 'orders_chart'
            },
            title: {
                text: 'Porcentagem sobre serviços'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['Salão',  <%= @valor%>],
                    {
                        name: 'Funcionario',
                        y: <%= @valor*0.20%>,
                        sliced: true,
                        selected: true
                    }
                ]
            }]
        });
    });
</script>

<div id="orders_chart" style="width:auto; height:auto;"></div>