<h1>A(o) cliente <b><%= @cliente.pessoa.nome %></b> realizou os servocos abaixo:</h1>

<table class="table">
  <tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Satatus</th>
    <th>Obs</th>
    <th>Cliente</th>
    <th>Servico</th>
  </tr>

<% @servicos.each do |realiza| %>
  <tr>
    <td><%= realiza.data %></td>
    <td><%= realiza.hora %></td>
    <td><%= realiza.satatus %></td>
    <td><%= realiza.obs %></td>
    <td><%= realiza.usuario.nome %></td>
    <td><%= realiza.servico.nome %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Realiza', new_realiza_path %>
