<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @cliente.pessoa.nome %>
</h1>

<p class="text-center">
  <b>Aniversario:</b>
  <%= @cliente.aniversario %>
</p>

<p class="text-center">
  <b>Endereco:</b>
  <%= @cliente.pessoa.endereco %>
</p>

<p class="text-center">
  <b>Telefone:</b>
  <%= @cliente.pessoa.telefone %>
</p>

<p class="text-center">
  <b>Celular:</b>
  <%= @cliente.pessoa.celular %>
</p>

<p class="text-center">
  <b>Email:</b>
  <%= @cliente.pessoa.email %>
</p>

<p class="text-center">
  <b>Sexo:</b>
  <%= @cliente.sexo %>
</p>

<p class="text-center">
  <b>Obs:</b>
  <%= @cliente.obs %>
</p>

<p class="text-center">
<%= link_to 'Editar', edit_cliente_path(@cliente), class:"btn btn-warning" %> |
<%= link_to 'Voltar', clientes_path, class:"btn btn-inverse" %>
</p>