<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @pagamento.cliente %>
</h1>

<p class="text-center">
  <b>Servico:</b>
  <%= @pagamento.servico %>
</p>

<p>
  <b>Data:</b>
  <%= @pagamento.data %>
</p>

<p>
  <b>Hora:</b>
  <%= @pagamento.hora %>
</p>

<p>
  <b>Valor:</b>
  <%= @pagamento.valor %>
</p>

<p>
  <b>Formapagamentoe:</b>
  <%= @pagamento.formapagamentoe %>
</p>

<%= link_to 'Editar', edit_pagamento_path(@pagamento), class:"btn btn-warning" %> |
<%= link_to 'Voltar', pagamentos_path,class:"btn btn-inverse" %>
