<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @servico.nome %>
</h1>

<p class="text-center">
  <b>Categoria:</b>
  <%= @servico.category.nome %>
</p>

<p class="text-center">
  <b>Preço:</b>
  R$ <%= @servico.preco %>
</p>

<p class="text-center">
  <b>Descrição:</b>
  <%= @servico.descricao %>
</p>

<p class="text-center">
    <%= link_to 'Editar', edit_servico_path(@servico), class:"btn btn-warning" %> |
    <%= link_to 'Voltar', servicos_path, class:"btn btn-inverse" %>
</p>